* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color__black: #1B1A1A;
  --text-color__white: white;
  --text-color__light-grey: #E0E0E0;
  --text-color__dark-grey: #5E5E5E;

  --background-color-header__milk-grey: #D3CBC5;
  --background-color-big-cards__grey: #E5E6E6;
  --background-color-cards__light-grey: #F7F7F7;
}

@mixin flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 160px;
  padding-left: 160px;
}

body {
  ul {
    list-style: none;
  }

  header {

    .navigation {
      padding-top: 10px;
      padding-bottom: 10px;
      background: var(--background-color-header__milk-grey);
      position: absolute;
      width: 100%;
      z-index: 100;

      nav {
        @include flex-space-between();

        .ul__navigation {
          @include flex-all-center();
        }

        .ul__navigation__logo {
          a {
            @include flex-all-center();
            text-decoration: none;

            h1 {
              font-family: 'Oswald';
              font-style: normal;
              font-weight: 300;
              font-size: 16px;
              line-height: 60px;
              letter-spacing: 0.035em;
              color: #555555;
              padding-left: 6px;
            }
          }
        }

        .ul__navigation__menu {
          li {
            padding-right: 30px;

            &:last-of-type {
              padding-right: 0;
            }

            a {
              font-family: 'nunito-sans';
              font-style: normal;
              font-weight: 300;
              font-size: 16px;
              line-height: 60px;
              color: var(--text-color__black);
              text-decoration: none;

              &:hover {
                text-decoration: underline 1px var(--text-color__black);
              }
            }
          }
        }

        .ul__navigation__buttons {
          button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            // border: 1px solid transparent;
            // padding: 5px 7px;
            // border-radius: 100%;
            // transition: 0.4s ease;

            &:first-of-type {
              margin-right: 27px;
            }

            // &:hover{
            //   border: 1px solid var(--text-color__white);
            //   background:whitesmoke;
            // }
          }
        }
      }
    }
    // Welcome showcase block 
    .showcase {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;

      .showcase__content {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        margin-left: 50px;

        .showcase__content__lines {
          hr {
            position: absolute;
            background: #6B6C71;
            color: #6B6C71;
            border: 0.5px solid #6B6C71;

            &:first-of-type {
              width: 292px;
              left: -50px;
            }

            &:last-of-type {
              height: 262px;
              left: -25px;
              top: 215px;
            }
          }
        }

        .showcase__content__article {
          max-width: 361px;
          text-align: start;

          p:first-of-type {
            font-family: 'Nunito-Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 60px;
            color: #2c314b;
          }

          h2 {
            font-family: 'Nunito-Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 50px;
            line-height: 60px;
            color: var(--text-color__black);
          }

          p:last-of-type {
            font-family: 'Nunito-Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 60px;
            color: #121211;

            span {
              color: #878787;
              font-size: 17px;
            }
          }
        }

        .showcase__content__shop-now__button {
          @include flex-all-center();
          position: relative;
          padding: 10px 20px;
          max-height: 37px;
          background: #1c1b1b;
          transition: 0.3s ease;

          &:hover {
            background: transparent;

            a {
              color: var(--text-color__black);
            }
          }

          .showcase__content__shop-now__button__lines {
            hr {
              color: #1c1b1b;
              background: #1c1b1b;
              border: 0.3px solid #1c1b1b;
            }

            .showcase__content__shop-now__button__lines__first-lines {
              hr:first-of-type {
                position: absolute;
                right: 97px;
                width: 45px;
                transform: rotate(90deg);
                margin-top: -5px;
              }

              hr:last-of-type {
                position: absolute;
                top: 0px;
                right: 0;
                width: 127px;
                margin-left: -5px;
              }
            }

            .showcase__content__shop-now__button__lines__second-lines {
              hr:first-of-type {
                position: absolute;
                left: 97px;
                width: 45px;
                transform: rotate(90deg);
                margin-top: 3.9px;
              }

              hr:last-of-type {
                position: absolute;
                bottom: 0px;
                left: 0;
                width: 127px;
                margin-right: -5px;
              }
            }
          }

          a {
            font-family: 'Nunito-Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 40px;
            color: var(--text-color__white);
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  main{
    
  }
}